body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	width: 100%;
	max-width: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.box {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column; 
	margin-top: 50px;
	gap: 100px;

}

.nameSpace {
	display: flex;
	flex-direction: row-reverse; 
	font-size: 20px;
	font-weight: 500;
}

.itemBox {
}

.graph {
	width: inherit;
	height: 500px;
	background-color: #F7F7F7;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}


.xBox {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.xAxis {
	height: fit-content;
	border-bottom: 2px solid black;
	margin-left: 30px;
}

.xDataList {
	display: flex;
}

.xdata {
	width: 10%;
	display: flex;
	justify-content: end;
}

.yBox {
	width: fit-content;
	height: 100%;
	display: flex;
}

.yAxis {
	width: fit-content;
	height: 100%;
	border-left: 2px solid black;
}

.yDataList {
	width: 30px;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}

.ydata {
	height: 10%;
	display: flex;
	justify-content: center;
}

.zero {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: end;
	align-items: start;
}