body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.main {
	width: 100%;
	height: 100%;
}

.box {
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}

.nameSpace {
	display: flex;
	flex-direction: row-reverse; 
	font-size: 20px;
	font-weight: 500;
}

.itemBox {
	width: 100%;
	max-width: 800px;
	margin-top: 100px;
}

.graph {
	width: 100%;
	height: 600px;
	background-color:#333333;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
	color: #FAFAFA;
	border-radius: 10px;
}

.tooltip {
	width: fit-content;
	height: 20px;
	font-weight: bold;
	text-align: center;
	background-color: green;
	z-index: 990;
	border-radius: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.xBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.barBox {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.bar {
	width: 30px;
	background-color: #2DAFFE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.bar:hover {
	background-color: gray;
}

.xAxis {
	width: 100%;
	max-width: 770px;
	border-bottom: 2px solid #FAFAFA;
	margin-left: 25.5px;
}

.xDataList {
	display: flex;
	justify-content: space-around;
	padding-left: 26.5px;
	padding-right: 5px;
}

.xData {
	display: flex;
	font-weight: bold;
	justify-content: center;
	white-space: nowrap;
	overflow: hidden;
}

.yBox {
	height: 100%;
	display: flex;
}

.yAxis { 
	height: 100%;
	border-left: 2px solid #FAFAFA;
}

.yDataList {
	width: 40px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	font-weight: bold;
}

.yData {
	display: flex;
	justify-content: center;
	align-items: start;
	border-bottom: 0.5px dotted #FAFAFA;
}

.zero {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: end;
	align-items: start;
}

.table {
	width: 100%;
	height: auto;
	display: block;
}

.sections {
	width: 100%;
	height: 40px;
	display: flex;
}

.idSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 20%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
}

.valueSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 60%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
}

.deleteSection {
	display: flex;
	flex: 1 1 20%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
}

.itemWrapper {
	display: flex;
}

.itemWrapper .id {
	width: 161px;
	height: 50px;
	display: flex;
	flex: 1 1 20%;
	justify-content: center;
	align-items: center;
	border: 1px solid #FFFFFF;
	font-weight: bold;
	background-color: #D9D9D9;
	overflow: scroll;
}

.id::-webkit-scrollbar {
	display: none;
}

.itemWrapper .value {
	height: 50px;
	display: flex;
	flex: 1 1 60%;
	text-align: center;
	border: 1px solid #FFFFFF;
	font-size: inherit;
	font-weight: bold;
	outline: none;
	background-color: #D9D9D9;
	padding: 0;
	margin: 0;
	overflow: scroll;
}

.value::-webkit-scrollbar {
	display: none;
}

.itemWrapper .deleteBtn {
	height: 50px;
	display: flex;
	flex: 1 1 20%;
	justify-content: center;
	align-items: center;
	color: red;
	border: 1px solid #FFFFFF;
	font-weight: bold;
	cursor: pointer;
	background-color: #D9D9D9;
}

.applyBtn {
	width: 20%;
	height: 3vh;
	margin-top: 10px;
	margin-left: 80%;
	cursor: pointer;
	font-weight: bold;
	border-radius: 7px;
	background-color: #525659;
	color: #FFFFFF;
}

.inputId {
	width: 10%;
	height: 25px;
	border: 3px solid black;
	outline: none;
	border-radius: 5px;
}
.inputValue {
	width: 50%;
	height: 25px;
	border: 3px solid black;
	outline: none;
	border-radius: 5px;
}

.addBtn {
	height: 32px;
	margin-left: 10px;
	font-weight: bold;
	border-radius: 5px;
	background-color: #525659;
	color: #FFFFFF;
}

input::placeholder {
  color: lightgrey;
  font-style: italic;
	padding-left: 5px;
}

.editValueDetailBox{
	width: 100%;
	height: 100%;
	max-height: 400px;
	display: flex;
}

.editValueDetail {
	width: 100%;
	max-width: 650px;
	resize: none;
	border: 3px solid black;
	border-right: 3px dotted black;
	font-size: 20px;
	outline: none;
	text-align: left;
	padding: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.editValueDetail::-webkit-scrollbar {
	display: none;
}

.errorBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 365px;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: scroll;
	background-color: #D9D9D9;
}

.errorTitle {
	display: flex;
	height: 32px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid black;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: rgba(205,50,50);
	position: sticky;
	top:0;
}

.errorWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	margin-bottom: 30px;
}

.errorMsg {
	display: flex;
	flex-wrap: wrap;
	padding-left: 30px;
	padding-right: 16px;
	color:crimson;
	font-weight: bold;
	font-size: 16px;
}
