body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

.main {
	width: 100%;
	height: 100%;
}

.box {
	width: 100%;
	max-width: 800px;
	height: 100%;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 100px;
	margin-left: auto;
}

.nameSpace {
	display: flex;
	flex-direction: row-reverse; 
	font-size: 20px;
	font-weight: 500;
}

.itemBox {
	width: 100%;
	max-width: 800px;
	margin-top: 100px;
}

.graph {
	width: 100%;
	height: 600px;
	background-color: #F7F7F7;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.xBox {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.xAxis {
	border-bottom: 2px solid black;
	margin-left: 30px;
}

.xDataList {
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
}

.xData {
	display: flex;
}

.yBox {
	height: 100%;
	display: flex;
}

.yAxis { 
	height: 100%;
	border-left: 2px solid black;
}

.yDataList {
	width: 30px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.yData {
	display: flex;
	justify-content: center;
	align-items: start;
}

.zero {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: end;
	align-items: start;
}

.table {
	width: 100%;
	height: fit-content;
	background-color: #E1E1E1;
	display: block;
}

.sections {
	width: 100%;
	height: 40px;
	display: flex;
}

.idSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 20%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
}

.valueSection {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 60%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
}

.deleteSection {
	display: flex;
	flex: 1 1 20%;
	background-color: #525659;
	border: 1px solid #FFFFFF;
}

.itemWrapper {
	display: flex;
}

.itemWrapper .id {
	height: 40px;
	display: flex;
	flex: 1 1 20%;
	justify-content: center;
	align-items: center;
	border: 1px solid #FFFFFF;
	font-weight: bold;
}

.itemWrapper .value {
	height: 40px;
	display: flex;
	flex: 1 1 60%;
	justify-content: center;
	align-items: center;
	border: 1px solid #FFFFFF;
	font-weight: bold;
}

.itemWrapper .deleteBtn {
	height: 40px;
	display: flex;
	flex: 1 1 20%;
	justify-content: center;
	align-items: center;
	color: red;
	border: 1px solid #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}

.applyBtn {
	width: 20%;
	height: 3vh;
	margin-top: 10px;
	margin-left: 80%;
	cursor: pointer;
	font-weight: bold;
}

.inputId {
	width: 10%;
	height: 25px;
	border: 3px solid black;
	outline: none;
}
.inputValue {
	width: 50%;
	height: 25px;
	border: 3px solid black;
	outline: none;
}

.addBtn {
	height: 32px;
	margin-left: 10px;
	font-weight: bold;
}

input::placeholder {
  color: lightgrey;
  font-style: italic;
	padding-left: 5px;
}

.editValueDetail {
	width: 100%;
	max-width: 730px;
	min-height: 300px;
	resize: none;
	border: 3px solid black;
	font-size: 20px;
	outline: none;
	text-align: left;
	padding: 30px;
}